.footer{
    text-align: center;
    bottom: 10px;
    max-width: 1280px;
    margin: 10px auto 0 auto;
    position: relative;
}
.footer p{
    position: relative;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.64);
    display: inline-block;
    margin: 0;
    line-height: 14px;
}
.footer a{
    margin: 0;
    color: rgba(0, 0, 0, 0.64);
}
.footer p:nth-child(1){
    position: absolute;
    left: 10px;
    bottom: 1px;
}

@media screen and (max-width: 760px) {
    .footer p{
        display: block;
    }
    .footer p:nth-child(1){
        margin-top: 20px;
        position: relative;
    }
}